__pycache__
MANIFEST
setup.cfg
dist
pyate.egg-info
src/pyate.egg-info
src/pyate/__pycache__
src/pyate/pyate.egg-info
*.whl
*/RECORD
venv
universe.json
__init__.py
.pytest__cache
.coverage
coverage.xml
docs
_docbuild
